@charset "UTF-8";

#memo__list {
	padding-left: 0px;
	width: 613px;
}

div {
	display: :inline-block;
	position: relative;
}

#close, #closeList {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: #202124;
	border-color: #202124;
	color: #E8EAED;
}

#closeList {
	display: none;
	color: #202124;
}

#delList {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #BEBFBF;
	display: none;
}

#memoCheck-1 {
	position: absolute;
	color: red;
	top: 6px;
	right: 16px;
}

#memoCheck {
	position: absolute;
	color: #BEBFBF;
	top: 6px;
	right: 16px;
}

#memoCheck-0 {
	position: absolute;
	color: #BEBFBF;
	top: 6px;
	right: 16px;
}

#memo__title__form, #memo__content__form, #memo__title__list, #memo__content__list {
	color: #E8EAED;
	background-color: #202124;
	border-color: #5F6368;
}

textarea {
	display: :block;
	color: #E8EAED;
	
}

.form-control:focus {
	box-shadow: none;
}


.form-group:hover #delList, #closeList {
	display: block;
}

.form-group:hover #closeList {
	color: #E8EAED;
}